<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="teamTable" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\madhuri\projects\Web\Web\App_Data\database.mdf;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30;Application Name=EntityFramework" />
</connectionStrings>